<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= meta.title %>
    </title>
</head>

  <body class="wf-body">
    <% try { %>
    <%= markdown %>
    <% } catch (e) { %>
      <p>couldn't load markdown file</p>
    <% } %>
  </body>

</html>
