<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= meta.title %> | Webfueler
    </title>
</head>

  <body class="wf-body">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7JLTQQXZYM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7JLTQQXZYM');
    </script>

    <div class="wf-container">
      <div class="wf-converter-markdown">
        <% try { %>
        <%= markdown %>
        <% } catch (e) { %>
          <p>couldn't load markdown file</p>
        <% } %>
      </div>
    </div>
  </body>

</html>
