name: Build Website

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        npm install
        npm run lint:js
        npm run build

    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Website
        path: |
          dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Download produciton artifacts
        uses: actions/download-artifact@v2
        with:
          name: Website

      - name: Sync files to server
        uses: SamKirkland/FTP-Deploy-Action@4.2.0
        with:
          server: webfueler.com
          username: github@webfueler.com
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist

